{% extends 'base.html' %}

{% block title %}Quiz{% endblock %}


{% block middle_content %}

{% for row in data%}



<div class="row" style="width: 18rem;">

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <form action="/start_test" method="GET">
                    <input type="hidden" name="test_id" value="{{row[0]}}">
                    <h5 class="card-title">Test No.: {{row[1]}}</h5>
                    <p class="card-text">Total Marks : {{row[2]}}</p>
                    <p class="card-text">Total Duration : {{row[3]}}</p>
                    <p class="card-text">Total questions : {{row[4]}}</p>

                    <button type="submit" class="btn btn-primary">Start Quiz</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}