{% extends 'base.html' %}

{% block title %}Quiz{% endblock %}

{% block header %}
<div class="container text-center" >
  <h2>Your previous test history <h2>
</div>
{%endblock%}

{% block middle_content %}
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <!-- <div class="modal-dialog" role="document"> -->
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
<div class="container table1 max-width">
<table>
    <thead>
        <tr>
            <th>Serial No</th>
            <th>Subject</th>
            <th>Test Number</th>
            <th>User Score</th>
            <th>Total Score</th>
            <th>Time Taken by User</th>
            <th>Test Duration</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for row in row_data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>{{ row[8] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>

</div>

{% endblock %}
