{% extends 'base.html'%}

{%block title%}
{%endblock%}
{%block middle_content%}
<div>
    <h2>Add Questions</h2>
</div>
<form action="/add_questions" method="post">
    <div>
        <label for="subject">Enter Subject</label>
        <input type="text" name="subject" id="subject">
    </div>
    <div>
        <label for="test_no">Enter Test No</label>
        <input type="text" name="test_no" id="test_no">
    </div>

    <div>
        <label for="question">Enter question</label>
        <input type="text" name="question" id="question">
    </div>

    <div>
        <label for="option1">Enter Option 1</label>
        <input type="text" name="option1" id="option2">
    </div>
    <div>
        <label for="option2">Enter Option 2</label>
        <input type="text" name="option2" id="option2">
    </div>

    <div>
        <label for="option3">Enter Option 3</label>
        <input type="text" name="option3" id="option3">
    </div>

    <div>
        <label for="option4">Enter Option 4</label>
        <input type="text" name="option4" id="option4">
    </div>

    <div>
        <label for="correct_answer">correct_answer</label>
        <input type="text" name="correct_answer" id="correct_answer">
    </div>
    
    <a href="/">Home</a>
    <button type="submit">Add Questions</button>
</form>

{%endblock%}



   
  
   
  