{% extends 'base.html'%}

{%block title%}
{%endblock%}
{%block middle_content%}
<div>
    <h2>Add Questions</h2>
</div>
<form action="/add_questions" method="post">
    <div>
        <label for="subject">Enter Subject</label>
        <input type="text" name="subject" id="subject">
    </div>
    <div>
        <label for="test_no">Enter Test No</label>
        <input type="text" name="test_no" id="test_no">
    </div>

    <div>
        <label for="question">Enter question</label>
        <input type="text" name="question" id="question">
    </div>
    <div>
        <label for="option1">Enter Option 1</label>
        <input type="text" name="question" id="question">
    </div>

    <a href="/">Home</a>
    <button type="submit">Add Questions</button>
</form>

{%endblock%}



   
  
   
  