{% extends 'base.html'%}

{%block title%}
{%endblock%}
{%block header %}
<div class="container text-center">
    <h2>Remove Test <h2>

</div>
{% endblock%}
{%block middle_content%}

<!-- <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin"> -->
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog"
    id="modalTour">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 border-bottom-0">
                <form action="/remove_subject" method="post" class="w-100">
                 
                    <div class="m-3" >
                        <label for="subject">Enter Subject</label>
                        <input type="text" class="form-control" name="subject" id="subject">
                    </div>

                    <div class="m-3">
                        <label for="test_no">Enter Test No</label>
                        <input type="text" class="form-control" name="test_no" id="test_no">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-danger m-3 ">Remove</button>
            </div>
            </form>
        </div>
    </div>
</div>


{%endblock%}