{% extends "base.html" %}

{% block title %}
main template
{% endblock %}

{% block style_content %}

{% endblock %}
{% block header %}
<div class="container text-center">
    <h2> Test Data Available </h2>
</div>
{% endblock %}

{% block middle_content %}

<div class="card mt-5">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Test Number</th>
                    <th scope="col">Test Duration</th>
                    <th scope="col">Total Marks</th>
                    <th scope="col">Total Questions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td scope="row">{{ item[1] }}</td>
                    <td scope="row">{{ item[2] }}</td>
                    <td scope="row">{{ item[3] }}</td>
                    <td scope="row">{{ item[4] }}</td>
                    <td scope="row">{{ item[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="btn-group btn-group-lg mt-5" role="group" aria-label="Large button group">
    <a href="/add_subject" class="btn btn-outline-success">Add Subject</a>

    <a href="/update_subject" class="btn btn-outline-primary">Update Subject Details</a>

    <a href="/remove_subject" class="btn btn-outline-danger">Remove Subject</a>
</div>
{% endblock %}