{% extends 'base.html' %}

{% block title %}Quiz{% endblock %}
{% block style_content %}

{% endblock %}
{% block left_content %}

{% block header%}
<div class="container text-center" >
    <h2>Edit Your profile here<h2>
    
</div>

{% endblock%}
<!-- <div class="container"></div> -->
<div class="container"> hello, {{username}}</div>

{% endblock %}

{% block middle_content %}
<!-- Middle content -->

<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
     
<div class="container">
   
    <form action="/update_profile" enctype="multipart/form-data" method="POST">
       

        <div class="col-sm-6">

            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="" value="" required="" fdprocessedid="m5hn">
             
            <label for="first_name" class="form-label">First name:</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="" fdprocessedid="m5hn">

            <label for="last_name" class="form-label">Last name:</label>
            <input type="text" class="form-control" id="last_name" placeholder="" value="" required="" fdprocessedid="m5hn">
             
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" placeholder="" value="" required="" fdprocessedid="m5hn">
             
           
            <label for="phone_number" class="phone_number">phone_number</label>
            <input type="text" class="form-control" id="phone_number" placeholder="" value="" required="" fdprocessedid="m5hn">

            <label for="password" class="password">Password</label>
            <input type="text" class="form-control" id="password" placeholder="" value="" required="" fdprocessedid="m5hn">
             
             
             
          </div>
          <br>
        <button type="submit" class="btn btn-success" >Save Changes</button>
    </form>

    
</div>
    </div>
</div>
    </div>
</div>



{% endblock %}